In [1]:
a=10
print(type(a))
print(id(a))

<class 'int'>
140705622009032

In [2]:
#yeild bunch of data to be given

#1.postitional argument
# 2.keyowrd argument
#3. default argument
#4. variable  length argument
#5.variable length keyword argument

def sum(a,b):
    return a+b
sum(7,8)
#example of postition argument

15

In [1]:
#example of keyword argument
"""def sum(name,rollno):
    print(f"student name:{name}:{rollno}")
sum("shivangi",101)
sum(102,"shivi")
sum(rollno=103,name="shivangi")"""


#EXAMPLE OF DEFAULT ARGUMENT


"""def multiply(a=1,b=1):
    print(a*b)
multiply(7,2)"""



#VARIABLE LENGTH ARGUMENT
"""def sum(*a):  
     print(a)
sum=(1,2,3,4,5,6,7,8,9)"""


"""def sum(*a):
    ans=0
    for i in a:
        ans+=i
    print(ans)
sum(1,2,3,4,56,55)"""

#variable length keyword
def sum(**kwarg):
    print(kwarg)
dic={"a":1,"b":2}
sum(**dic)

{'a': 1, 'b': 2}

In [22]:

tup=(1,24,55,66,55,65)
#print(len(tup))
#print(max(tup))
#print(min(tup))
#print(sorted(tup))
#print(tup.count(55))
#print(tup)

In [22]:
questions=[
("Q1. python was developed in: "),
("Q2. c++ was developed in: "),
("Q3. capital of india: ")    
]
options=(
    ("A- 1999,B- 1991,C- 1990,D- 1980"),
    ("A- 1990,B- 1998,C- 1979,D- 1980"),
    ("A- Delhi,B- J&K,C- Chennai,D- Punjab")
    
)

answer=("B","C","A")
user_ans=[]
print(questions[0])
print(options[0])
points=0
user_ans.append(input("enter your correct answer: "))
points=points+1 if user_ans[0] == answer[0] else points

print("your current points is: ",points)


print(questions[1])
print(options[1])
user_ans.append(input("enter your correct answer: "))
points=points+1 if user_ans[1] == answer[1] else points

print("your current points is: ",points)
print(questions[2])
print(options[2])
user_ans.append(input("enter your correct answer: "))
points=points+1 if user_ans[2] == answer[2] else points

print("your current points is: ",points)

Q1. python was developed in:
A- 1999,B- 1991,C- 1990,D- 1980

enter your correct answer:  B

your current points is:  1
Q2. c++ was developed in:
A- 1990,B- 1998,C- 1979,D- 1980

enter your correct answer:  C

your current points is:  2
Q3. capital of india:
A- Delhi,B- J&K,C- Chennai,D- Punjab

enter your correct answer:  A

your current points is:  3

In [1]:
num=int(input("enter a number"))
rev=0
while num!=0:
    digit=num%10
    rev=(rev*10)+digit
    num=num//10
    
print("reverse of number is:",rev)

enter a number 1234

reverse of number is: 4321

In [ ]:
#integer datatype
a=5+5j
print(type(a))

In [7]:
#bool datatype
a=False
print(int(a))
print(type(a))

0
<class 'bool'>

In [10]:
# list database [] mutiable and changeable
a=[2,"shivangi",1000.1]
print(a)
print(type(a))

[2, 'shivangi', 1000.1]
<class 'list'>

In [12]:
#tuple immitable (non-changeable)
a={1,2,"shivangi",True}
print(a)
print(type(a))

{1, 2, 'shivangi'}
<class 'set'>

In [13]:
# set doesn't exit duplicate values
a={1,1,"shivangi",1.01}
print(a)
print(type(a))

{1, 'shivangi', 1.01}
<class 'set'>

In [16]:
# dictionary key cannot be duplicate

a={

    "name":"shivangi",
    "age": 18
}
print(a)
print(type(a))

{'name': 'shivangi', 'age': 18}
<class 'dict'>

In [1]:
a={10,20,3,3,56,78,56}
a=frozenset(a)

print(a)

frozenset({3, 20, 56, 10, 78})

In [ ]:
# member operator (in,not in), identity operator (is, isnot)

In [1]:
a=10
b=10
print(a is b)

True

In [3]:
a=10
b=10
print(a is not b)

False

In [11]:
# bitwise operator
a=4
b=6
print(a&b)
print(~b)
print( 4 << 3)
print(16 >> 3)
print(~a)

4
-7
32
2
-5

In [13]:
# id to alocate a memory alocation 

a=10
b=11
print(id(a))
print(id(b))

140705792599240
140705792599272

In [20]:
a=int(input("enter a number"))
b=int(input("enter a second number"))
print(a + b )

enter a number 1
enter a second number 2

3

In [23]:
a=int(input("enter the number"))
print(" square is",a*a)

enter the number 2

 square is 4

In [24]:
a=int(input("enter a number"))
print("cube is ",a*a*a)

enter a number 2

cube is  8

In [33]:
a=10
b=20
a,b=b,a
print("a=",a,"b=",b)

a= 20 b= 10

In [10]:
# reverse a number wihtout using operator
num=123
a=(num%10)
num=(num//10)
b=(num%10)
num=num//10

print(a,b,num)

3 2 1

In [16]:
a=int(input("enter your  maths marks"))
b=int(input("enter your science marks"))
c=int(input("enter your hindi marks"))
d=int(input("enter your english marks"))
sum=a+b+c+d
print(sum)
print("average of marks is ",sum/4)

enter your  maths marks 99
enter your science marks 99
enter your hindi marks 99
enter your english marks 99

396
average of marks is  99.0

In [17]:
# ternary operator
#on true if(condition) else onfalse
a=int(input("enter number first: "))
b=int(input("enter number second: "))
print(a) if a>b else print(b)

enter number first:  12
enter number second:  21

12

In [20]:
a=int(input("enter number"))
print("number is even") if(a%2==0) else print("number is odd")

NameError: name 'imt' is not defined

In [18]:
a=int(input("enter your first number"))
b=int(input("enter your second number"))
print (a) if(a<b) else print (b)

enter your first number 55
enter your second number 24

24

In [3]:
a=int(input("enter a number"))
print ( "divisible") if (a%10==0)  else print ("not divisible")

enter a number 520

divisible

In [6]:
a=float(input("enter a number"))
print (a) if( a%4==0 and a>100 ) else print("not divisible")

enter a number 120

120.0

In [12]:
# check the is eligible is vote or not
a=int(input("enter your age"))
print("vote") if(a>=18) else("your not eligible")

enter your age 45

vote

In [13]:
#check the number is divisible by 4 and 10
a=float(input("enter a number"))
print ("divisible") if( a%4==0 and a%10==0 ) else print("not divisible")

enter a number 20

divisible

In [15]:
#check the number i is between 0 to 100 
number=int(input("enter a number"))
print("yes") if(number>0 and number <100) else("wrong")

enter a number 99

yes

In [20]:
#check the person is fail or pass ? passing marks is 33.
marks=int(input("enter marks"))
print("pass") if(marks>33) else("fail")

enter marks 12

'fail'

In [23]:
#check the number is negative and positive
a=int(input("enter a number"))
print("positive") if (a>0) else ("negative")

enter a number 55

positive

In [28]:
a=int(input("enter year"))
print("leap year") if (a%4==0 and a%100!=0) else("not a leap year")

enter year 2024

leap year

In [33]:
password=int(input("enter your password"))
print("open") if(password==1234) else("try again")

enter your password 1234

open

In [ ]:
#for a busniess create three variables to store  --name age and city then print a sentence that uses this variable
a=str(input("enter your name"))
b=int(input("enter your age"))
c=str(input("enter your city"))
print("my name is:",a,"i am",b,"years old","i live in",c)

enter your name shivangi
enter your age 20

In [5]:
#range function(start,end-1,step)

#li=list(range(10))
li=list(range(2,10,2))
print(li)
li1=tuple(range(20,2,-2))
print(li1)

[2, 4, 6, 8]
(20, 18, 16, 14, 12, 10, 8, 6, 4)

In [16]:
#slicing
#(applicable slicing)list,tuple,string 
#(not applicable)set,dictionary
#[start:end-1:step]
s="python_world"
#print(s[12:0:-2])
print(s[-1:-7:-1])
print(s[::-1])

dlrow_
dlrow_nohtyp

In [5]:
#conditionL STATEMENT
#1.if 2.if else 3.if elif else(ladder) 4.if if else(nesting)
i=int(input("enter a number"))
j=int(input("enter a second number"))
if(i>j):
   print(i)
else:
    print(j)

enter a number 122
enter a second number 132

132

In [8]:
i=int(input("enter a number"))
if(i%2==0):
   print("number is even",i)     
else:
      print("number is odd")

enter a number 3

number is odd

In [10]:
# check the number is negative or positive
i=int(input("enter a number"))
if(i>0):
    print("number is positive")
else:
    print("number is negative")

enter a number 11

number is positive

In [12]:
#number is multiple of 3
i=int(input("enter a number"))
if(i%3==0):
  print("it is multiple")
else:
    print("not multiple")

enter a number 25

not multiple

In [35]:
#heck the character is vowel or not
i=input("enter alphabet")
if(i=="a"or i=="e"or i=="i"or i=="o"or i=="u"):
 print(" vowel")
else:
    print("consonent")

enter alphabet d

consonent

In [23]:
#check the number is between 0 to 50
i=int(input("enter a number"))
if(i>0 and i<=50):
  print("number is between given range")
else:
     print("invalid output")

enter a number 33

number is between given range

In [26]:
#check the number is divisible by 2 and 4
i=int(input("enter a number"))
if(i%2==0 and i%4==0):
  print("number is divisible by 2 and 4")
else:
   print("ii")

enter a number 16

number is divisible by 2 and 4

In [39]:
i=input("enter a alphabet")
li=["a","e","i","o","u"]
if(i in li):
 print("vowel")
else:
   print("consonent")

enter a alphabet d

consonent

In [3]:
#check the year is leap year or not
a=int(input("enter year"))
if (a%4==0 and a%100!=0): 
   print("leap year")
else:
    print("not a leap year")

enter year 2024

leap year

In [1]:
#find the greatest between three number
i=int(input("enter a number"))
j=int(input("enter a number"))
k=int(input("enter a number"))
if(i>j and i>k):
  print(i)
elif(j>i and j>k):
  print(j)
else:
   print(k)

enter a number 12
enter a number 13
enter a number 14

14

In [12]:
i=int(input("enter a marks"))
if(i>0 and i<=30):
  print(" D grade")
elif(i>30 and i<=50):
   print(" c grade")
elif(i>50 and i<=60):
    print("B grade")
elif(i>60 and i<=100):
    print("A grade")
else:
    print("faill")

enter a marks 100

A grade

In [25]:
#CHECK THE NUMBER IS POSITITVE NEGATIVE OR ZERO
i=int(input("enter a number"))
if(i==0):
    print("zero")
elif(i<0):
    print("negative")
else:
    print("positive")

enter a number -55

negative

#####

In [40]:
# give the discount according to the purchase amount:
i=int(input("enter amount"))
if(i>0 and i<=1000):
    print(i-(i*5/100))
elif(i>1000 and i<=5000):
    print(i-(i*10/100))
elif(i>5000 and i<10000):
    print(i-(i*15/100))
elif(i>10000):
    print(i-(i*20/100))
else:
    print("no discount")

enter amount 10000

8500.0

In [43]:
i=int(input("enter amount"))
if(i>0 and i<=1000):
  discount=i*0.5
elif(i>1000 and i<=5000):
    discount=a*0.10
elif(i>5000 and i<10000):
    discount=a*0.15
elif(i>10000):
    discount=a*0.20
else:
    print("no discount")
final_dicount=a-discount
print("final_discount",final_discount)

enter amount 4500

NameError: name 'a' is not defined

In [ ]:
# ATM
print("State Bank of India")
print("1 - Balance Enquiry")
print("2 - Cash Withdrawal")
print("3 - Cash Deposit")
print("4 - Mini Statement")
options = input("Enter your choice: ")
li = ["Balance Enquiry", "Cash Withdrawal", "Cash Deposit", "Mini Statement"]
if options in li:
    if options == "Balance Enquiry":
        print("Your balance is: 10000")
    elif options == "Cash Withdrawal":
        amount = int(input("Enter amount to withdraw: "))
        if amount > 0 and amount <= 10000:
            print("Please collect your cash")
        else:
            print("Insufficient balance")
    elif options == "Cash Deposit":

        amount = int(input("Enter amount to deposit: "))
        print("Your new balance is: ", 10000 + amount)
    elif options == "Mini Statement":
        print("Last 5 transactions are: ")
        print("1. Cash Deposit - 5000")
        print("2. Cash Withdrawal - 2000")
        print("3. Cash Deposit - 3000")
        print("4. Cash Withdrawal - 1000")
        print("5. Cash Deposit - 2000")
else:
    print("Invalid choice")

State Bank of India
1 - Balance Enquiry
2 - Cash Withdrawal
3 - Cash Deposit
4 - Mini Statement

Enter your choice:  Cash Deposit

Enter your choice:  46

Invalid choice

In [2]:
# calculator for addition,subtraxtion,multiplication,devision
print("1 - Addition")
print("2 - Subtraction")
print("3 - Multiplication")
print("4 - Division")
Options = int(input("Enter your choice: "))
if (Options in [1, 2, 3, 4]):
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
    if Options == 1:
        print("Addition of two numbers is: ", num1 + num2)
    elif Options == 2:
        print("Subtraction of two numbers is: ", num1 - num2)
    elif Options == 3:
        print("Multiplication of two numbers is: ", num1 * num2)
    elif Options == 4:
        if num2 != 0:
            print("Division of two numbers is: ", num1 / num2)
        else:
            print("Division by zero is not allowed")
else:
    print("Invalid choice")

1 - Addition
2 - Subtraction
3 - Multiplication
4 - Division

Enter your choice:  Addition

ValueError: invalid literal for int() with base 10: 'Addition'

Enter your choice:  1
Enter first number:  55
Enter second number:  65

Addition of two numbers is:  120.0

In [33]:
#mobile password
i = int(input("enter your password"))
if i == 1234:
 print("open")
elif i==1234
  print("enter again")
else :
 print("ii")

SyntaxError: expected ':' (1289949273.py, line 5)

1.jh
2.hkfj
3.jhk

In [9]:
enter=(input("enter your website name"))
if(enter=="shivangi electronics"):
  print("""
  1.mobile
  2.laptop
  """)
  ch=input("enter your choice")
  if(ch=="mobile"):
      print("""you have 2 mobile
            1.realme
            2.iphone""")
      ch=input("enter your mobile name")
      if(ch=="realme"):
        print("10000")
      elif(ch=="iphone"):
       print("50000")
      if(ch=="laptop"):
      
       print("""you have 2 laptop 
    1.hp
    2.asus""")
      ch=(input("enter your laptop name"))
  if ch=="hp":
     print("100000")
  elif ch=="asus":
     print("200000")
else:
 print("ii")

KeyboardInterrupt: Interrupted by user

##

In [7]:
web=input("enter website name : ")
if(web=="amazon" or web=="AMAZON"):
    print("""1.product
          2.service""")
    ch=input("enter your choice : ")
     if(ch=="product" or ch=="PRODUCT"):
        print("""you have 2 products
              1.cloths
              2.shoes""")
        pro=input("enter your product : ")
        if(pro=="cloths" or pro=="CLOTHS"):
            print(" PRICE IS :2000")
        elif(pro=="shoes" or pro=="SHOES"):
            print("PRICE IS : 1000")
        else:
            print("wrong product enter")
    elif(ch=="service" or ch=="SERVICE"):
        print("NOT AVAILABLE")
    else:
        print("WRONG CHOICE ENTER")
else:
    print("wrong input")

enter website name :  amazon

1.product
          2.service

enter your choice :  product

you have 2 products
              1.cloths
              2.shoes

enter your product :  shoes

PRICE IS : 1000

SyntaxError: '(' was never closed (3688366122.py, line 3)

In [75]:
web=input("enter website name")
if(web=="amazon"):
    print("""
1.product
2.service
    """)
    ch=(input("enter your choice"))
    if(ch=="product"):
     print(" you have two choice 1.clothes 2. shoes")
     ch=(input("enter your choice "))
     if(ch=="shoes"):
       print("1000")
     elif(ch=="clothes"):
       print("2000")
    elif(ch=="service"):
        print("invalid")
else:
    print("invalid input")

enter website name amazon

1.product
2.service

enter your choice service

invalid

In [13]:
name = input("Enter shop name: ")

if name=="Cybrom":
    product = input("Enter mobile or laptop: ")
    if product=="mobile":
        mobilename = input("Realme or iphone")
        if mobilename == "Realme":
            print("10000")
        elif mobilename == "iphone":
            print("50000")
        else:
            print("Invalid")
        
    elif product == "laptop":
        laptopname = input("Hp or Asus: ")
        if laptopname == "Hp":
            print("20000")
        elif laptopname == "Asus":
            print("30000")
        else:
            print("Invalid")
        
    else:
        print("Invalid")

else:
    print("Inavlid")

Enter shop name:  Cybrom
Enter mobile or laptop:  laptop
Hp or Asus:  Asus

30000

In [ ]:
loan=input("enter a name")
if(loan=="bajaj finance"):
    amount=int(input(" enter your loan amount "))
    c_score=int(input("enter your credit amount"))
    if(amount > 0 and amount<=50000 )and ( c_score>600 and c_score<650):
        print("10% of 2 years")
        percentage=(amount*10)/100
        total=amount+percentage
        print("your monthly finance is",total/24)
    elif(amount>50000 and amount<=100000) and (c_score>650 and c_score<=750):
        print("15% of 2 years")
        percentage=(amount*15)/100
        total=amount+percentage
        print("your monthly finance is",total/24)
    elif(amount>100000 and amount<=200000) and (c_score>750 and c_score<=850):
        print("20% of 2 years")
        percentage=(amount*20)/100
        total=amount+percentage
        print("your monthly finance is",total/24)
    
    elif( amount>200000) and (c_score>850 and c_score<=9000):
        print("15% of 2 years")
        percentage=(amount*25)/100
        total=amount+percentage
        print("your monthly finance is",total/24)
    
    else:
        print("invalid input")
        
else:
    print("invalid")

enter a name bajaj finance

In [18]:
com=input("enter  company Name : ")
if(com=="Bajaj Finance"):
    print("welcome to bajaj finance")
    amount=int(input("enter your loan amount"))
    c_score=int(input("enter your credit score"))
    if(amount>0 and amount<=50000) and (c_score>600 and c_score<=650):
        
        print("10 % for 2 years")
        per=(( "10 % of amount is",amount*10)/100)
        total=amount+per
        print("your monthly finance is",total/24)
    elif(amount>50000 and amount<=100000) and (c_score>650 and c_score<=750):
        
        print("15 % for 2 years")
        per=(( "15 % of amount is",amount*15)/100)
        total=amount+per
        print("your monthly finance is",total/24)
    elif(amount>100000 and amount<200000) and (c_score>750 and c_score<=850):
        
        print("20 % for 2 years")
        per=(( "20 % of amount is",amount*20)/100)
        total=amount+per
        print("your monthly finance is",total/24)
    elif(amount>200000 ) and (c_score>850 and c_score<=900):
        
        print("25 % for 2 years")
        per=( amount*25)/100
        total=amount+per
        print("your monthly finance is",total/24)
    else:
        print("invalid input")
else:
    print("invalid input")

enter  company Name :  Bajaj Finance

welcome to bajaj finance

enter your loan amount 5000
enter your credit score 620

10 % for 2 years

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [2]:
com = input("Enter company name: ")

if com == "Bajaj Finance":
    print("Welcome to Bajaj Finance")
    
    amount = int(input("Enter your loan amount: "))
    c_score = int(input("Enter your credit score: "))

    if (amount > 0 and amount <= 50000) and (c_score > 600 and c_score <= 650):
        print("10% interest for 2 years")
        per = (amount * 10) / 100
        total = amount + per
        print("Your monthly EMI is:", total / 24)

    elif (amount > 50000 and amount <= 100000) and (c_score > 650 and c_score <= 750):
        print("15% interest for 2 years")
        per = (amount * 15) / 100
        total = amount + per
        print("Your monthly EMI is:", total / 24)

    elif (amount > 100000 and amount < 200000) and (c_score > 750 and c_score <= 850):
        print("20% interest for 2 years")
        per = (amount * 20) / 100
        total = amount + per
        print("Your monthly EMI is:", total / 24)

    elif (amount >= 200000) and (c_score > 850 and c_score <= 900):
        print("25% interest for 2 years")
        per = (amount * 25) / 100
        total = amount + per
        print("Your monthly EMI is:", total / 24)

    else:
        print("Invalid loan amount or credit score for available schemes.")`

Enter company name:  Bajaj Finance

Welcome to Bajaj Finance

Enter your loan amount:  5000
Enter your credit score:  620

10% interest for 2 years
Your monthly EMI is: 229.16666666666666

In [6]:
# pallindrom 
n=int(input("enter a number"))
reverse = 0
number = n
while n > 0:
    digit= n % 10
    reverse=reverse*10+digit
    n=n//10
if number==reverse:
    print("number is pallindrom")
else:
     print("number is not pallindrom")

enter a number 121

number is pallindrom

number is pallindrom

In [10]:
#factorial number
n=int(input("enter a number"))
a=1
for i in range(1,n+1):
    a=a*i
print(a)

enter a number 6

720

In [26]:
i = int(input("number"))
a = 0
while  i > 0:
    digit = i%10
    if digit > a:
        a = digit
    i = i//10
print("number", a)

number 5264

number 6

In [25]:
i = int(input("number"))
a = 9
while  i > 0:
    digit = i%10
    if digit < a:
        a = digit
    i = i//10
print("number", a)

number 564

number 4

In [ ]:
#amstrong number
n=int(input("enter a three digit number"))
a=0
while n > 0:
    digit = n%10
    a=digit
    number=digit*digit*digit+n
    i=i//10
if n== number:
    print("right",number)
else:
    print("false")

enter a three digit number 123

In [7]:
#prime number

n=int(input("enter a number"))
count=0
for i in range (1,n+1,1):
    if(n%i==0):
        count=count+1
        
if count==2:
    
     print("prime")
else:
        print("not prime")

enter a number 8

not prime

In [42]:
#prime number
n=int(input())
isprime=True
if n<=1:
    print("not a prime")
else:
    for i in range (2,n):
        if n%i==0:
            
            isprime=False
            print("not a prime")
            break
    if isprime:
        print("prime")

 5

prime

In [45]:
#hcf
import math
num1=int(input())
num2=int(input())
print(math.gcd(num1,num2))

 12
 24

12

In [47]:
#lcm


num1=int(input())
num2=int(input())
print(abs(num1*num2)//math.gcd(num1,num2))

 2
 3

6

In [1]:
#star pattern

for r in range(1,6):
    for c in range(1,6):
        if c<=r:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [2]:
for r in range(1,6):
    for c in range(1,6):
        if c>=r:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [4]:
for r in range(1,6):
    for c in range(1,6):
        if c>=6-r:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [5]:
for r in range(1,6):
    for c in range(1,6):
        if c<=6-r:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [8]:

n=int(input())

for r in range(1,n+1):
    for c in range(1,n+1):
        if c<=r:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

 7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [13]:
# 
n=int(input())
for r in range(1,n+1):
    for c in range(1,n+1):
        if c<=(n+1)-r:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

 6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
#REVERSE PYRAMID
n=int(input())
for r in range(1,n+1):
    for c in range(1,n+1):
        if c>=r:
            print("*",end=" ")
        else:
            print(" ",end="")
    print()

 5

* * * * *
 * * * *
  * * *
   * *
    *

In [1]:
#PYRAMID PATTERN
n=int(input())
for r in range(1,n+1):
    for c in range(1,n+1):
        if c>=(n+1)-r:
            print("*",end=" ")
        else:
            print(" ",end="")
    print()

 5

    *
   * *
  * * *
 * * * *
* * * * *

In [23]:
n=int(input())
for r in range(1,n+1):
    for c in range(1,n+1):
        if c>=r:
            print(c,end=" ")
        else:
            print(" ",end="")
    print()

 5

1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5

In [25]:
n=int(input())
for r in range(1,n+1):
    for c in range(1,n+1):
        if c<=r:
            print(chr(64+r),end=" ")
        else:
            print(" ",end="")
    print()

 5

A
B B
C C C
D D D D
E E E E E

In [29]:
n=int(input())
a=1
for r in range(1,n+1):
    for c in range(1,n+1):
        if c<=r:
            print(a,end=" ")
            a=a+1
        else:
            print(" ",end="")
    print()

 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [1]:
#tuples
my_tup=(1,"a",True,32)
print(len(my_tup))

4

In [10]:
my_tup=(1,"a",True,32)
print(my_tup[0])
print(my_tup[1])
print(my_tup[2])
print(my_tup[3])
print(my_tup[-1])
print(my_tup[-3-1])

1
a
True
32
32
1

In [11]:
my_tup=(1,"shivangi",23,"True","False")
if "shivangi" in my_tup:
    print ("yes")
else:
    print("no")

yes

In [13]:
# get 4th elememt from start 4th element from end
my_tup=(44,56,76,78,87)
print(my_tup[4])
print(my_tup[-1])

87
87

In [18]:
cars=("bmw","honda","tata","audi","mahindra","jeepcompass","renault","toyota","hyundai","creta")
favourite_car=input()
print(cars.index(favourite_car))

 tata

2

In [6]:
#STRING (sequence of character,immutable)
s="hello world"
print(len(s))
print(s.count("l"))
print(s.find("1"))

s=s.split()
print(s)
print(s[::-1])

11
3
-1
['hello', 'world']
['world', 'hello']

In [8]:
#join 
tu="hello","world","python"
s=",".join(tu)
print(s)

hello,world,python

In [9]:

li=list()
for i in range(1,11):
    if i%2==0:
        li.append(i)
print(li)

[2, 4, 6, 8, 10]

In [11]:
li=[ i for i in range(1,11) if i%2==0]
print(li)

[2, 4, 6, 8, 10]

In [ ]:
#function -reusability of code ,readable
#-readable--Two types of function (pre-defined,user-defined)

#pre-defined function(print,count,len, max,min)
#user-defined(return type,non-return type) 
# return (with argument,wihtout argument)
#non-return(with-argument,without-argument)

In [1]:
#non return without argument
def hello():
    print("hellow")
hello()

hellow

In [5]:
#natural number
def natural_number():
    n=int(input("enter a number"))
    ans=0
    for i in range (1,n+1):
        ans+=i
    print(ans)
natural_number()

enter a number 5

15

In [6]:
#factorial
def factorial(n):
    fact=1
    while n!=0:
      fact=fact*n
      n=n-1
    return fact
n=int(input())
print(factorial(n))

 5

120

In [8]:
def factorial():
 n=int(input("enter a number"))
 a=1
 for i in range(1,n+1):
    a=a*i
 print(a)
factorial()

enter a number 5

120

In [10]:
#prime number by function
def prime_number():
    
 n=int(input())
 isprime=True
 if n<=1:
    print("not a prime")
 else:
    for i in range (2,n):
        if n%i==0:
            
            isprime=False
            print("not a prime")
            break
    if isprime:
        print("prime")
prime_number()

 9

not a prime

In [14]:
def prime():
    n=int(input("enter a number"))
    if n>1 and all( n %i!=0 for i in range(2,n)):
        print("prime")
    else:
        print("not a prime")
prime()

enter a number 9

not a prime

In [4]:
#return type without argument
def sum():
    n1=int(input("enter a number"))
    n2=int(input("enter a number"))
    return(n1+n2)
ans=sum()
print(ans)

enter a number 55
enter a number 55

110

In [12]:
s=[1,55,65,45,54,45,85]
print(s.count(45))

2

In [17]:
def sum(num1,num2):
    return num1+num2
num1=int(input())
num2=int(input())

print(sum(num1,num2))

 22
 22

44

In [21]:
#with the help of function to print a perfect number or not

def is_perfect(num):
    ans=0
    for i in range(1,num):
        if num%i==0:
            ans+=i
    if ans==num:
        return "perfect number"
    else:
        return"not a perfect number"
a=int(input("enter a number"))
print(is_perfect(a))

enter a number 7

not a perfect number

In [ ]:
def spuare_number():
    for i in range(1,n+1):
        yield i*i
ans=square_number(100)
for i is in ans:
    print(i,end="

In [2]:
#lambda function
#anonymous function
#SYNTAX
square=lambda x:x*x
print(square(55))

3025

In [3]:
area=lambda x:3.14*x*x
print(area(5))

78.5

In [4]:
cube=lambda a:a*a*a #a**3
print(cube(2))

8

In [5]:
sum = lambda a,b:a+b
print(sum(4,4,))

8

In [6]:
greater =lambda x,y: x if x>y else y
print(greater(40,80))

80

In [7]:
#even ,odd
num=lambda a :"even" if a%2==0 else "odd"
print(num(55))

odd

In [2]:
#high order function
#types
#1.map(multiple values),2.filter(function,iterable object)only true values,3.reduce single values


#example of high order function
li=[1,2,3,4,5,6,7,8,9,10]
ans=list(map(lambda x:x*x,li))
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
li=[1,2,3,4,5]
ans=list(map(lambda x:x+10,li))
print(ans)

[11, 12, 13, 14, 15]

In [5]:
li=["hello","hii","bye"]
ans=list(map(lambda x:len(x),li))
print(ans)

[5, 3, 3]

In [9]:
li=[121,123,321,246,464]
ans=list(map(lambda x:str(x)==str(x)[::-1],li))
print(ans)

[True, False, False, False, True]

In [10]:
#filter 
li=[51,40,53,60,70,1]
ans=list(filter(lambda x:x>50,li))
print(ans)

[51, 53, 60, 70]

In [15]:
li=[" ","hello"," ","bye"]
ans=list(filter(lambda x:x!=" ",li))
print(ans)

['hello', 'bye']

In [17]:
li=[2,4,-2,1,-1,5]
ans=list(filter(lambda x:x>0 ,li))
print(ans)

[2, 4, 1, 5]

In [18]:
#reduce
from functools import reduce
li=[1,2,3,4,5,6]
ans=reduce(lambda x,y:x+y,li)
print(ans)

21

In [27]:
from functools import reduce
li=["hi","reduce","python","bye"]
ans=reduce(lambda x,y: if len(x) ,li)
print(ans)

SyntaxError: invalid syntax (3339421743.py, line 3)

In [4]:
#amstrong number to given input
num=int(input("enter a number"))
a=num
sum=0
while num>0:
    digit=num%10
    sum+=digit*digit*digit
    num=num//10
print(sum)
if sum==a:
    print("amstrong")
else:
    print("not a amstrong")

enter a number 152

134
not a amstrong

In [2]:
num=input("enter a number")
power=len(num)
ans=int(num)
num=int(num)
answer =0

while num>0:
    digit=num%10
    answer+=digit**power
    num=num//10
if answer==ans:
    print("amstrong")
else:
    print("not an amstrong")

enter a number 152

not an amstrong

In [2]:
a=5*10
print(a)

50

In [10]:
n=int(input("enter a number :"))
a=len(str(n))
sm=0
old=n
while n!=0:
    dig=n%10
    sm=sm+(dig**a)
    n=n//10
if sm==old:
    print("amstrong")
else:
    print("not an amstrong")

enter a number : 7

amstrong

In [ ]:
n=int(input())
fact=1
while n>=1:
    fact=fact*n
    n=n+1
print(fact)

In [4]:
n=int(input())
a=1
for i in range (1,n+1):
    a=a*i
print(a)

 6

720

In [5]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for j in range (i):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [6]:
n=5
for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    for j in range(n-i-1):
        print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [8]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for j in range(j==0 or j==1 or j==n-1):
        print("*",end=" ")
    print()

        * *
      * * *
    * * *
  * * * *
* * * * * *