# operators

In [4]:
# arithmetic operator +,-,*,/,//,%,**
a=10
b=2
print("addition:",a+b)
print("substraction:",a-b)
print("multiplication:",a*b)
print("simple division:",a/b)
print("floor division:",a//b)
print("modulus:",a%b)
print("exponential power:",a**b)

addition: 12
substraction: 8
multiplication: 20
simple division: 5.0
floor division: 5
modulus: 0
exponential power: 100

In [15]:
#assignment operators =,+=,-=,*=,/=
a=10
b=8
c=a+b   
a+=10  #a=a+10
a-=8   #a=a-8
a/=2   #a=a/2
b*=4   #b=b*4
c=a-b
print(a,b,c)

6.0 32 -26.0

In [14]:
# comparison operators ==,!=,>=,<=,>,<
a=10
b=8
print(a==b)
print(a!=b)
print(b>=a)
print(a<=b)
print(a>b)
print(a<b)

False
True
False
False
True
False

In [13]:
# logical operator and ,or ,not
a=10
b=8
c=12
print(a>b and b>c)
print(a>b or b>c)
print(a>b and not b>c)

False
True
True

In [12]:
#identity operator - is , is not
# id() that returns memory address of a given object.
a=10
b=10
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

True
False
140710626343640
140710626343640

In [39]:
# membership operator
a="hello"
print("H" in a)
print("h" not in a)
print("z" in a)
print("he" in a)
print("ho" in a)

False
False
False
True
False

In [12]:
#Bitwise operator & -- bitwise and op
# / -- bitwise or op
# & -- bitwise xor op
a=10
b=8
print(bin(a))
print(bin(b))
print()
print(a&b)
print(bin(a&b))
print()
print(bin(a|b))
print(a|b)
print()
print(bin(a^b))
print(a^b)

0b1010
0b1000

8
0b1000

0b1010
10

0b10
2

In [12]:
#DATA TYPE 
#Numeric 
#int,float
a=10
print(a)
print(type(a))
a=10.5
print(a)
print(type(a))

a=10
b=2
c=10/2
print(c)
print(type(c))

10
<class 'int'>
10.5
<class 'float'>
5.0
<class 'float'>

In [2]:
# String-- ordered sequence of character 
# Denoted by ' ' or " " or/and multiple ''' ''' 
# indexed immutable

s="hello" # immutable # ordered # sequence 

print(s)
print(type(s))
print(s[0])

s=''' hello
welcome 
to bhopal'''
print(s)
print(type(s))

hello
<class 'str'>
h
 hello
welcome
to bhopal
<class 'str'>

In [3]:
# list - collection of elements
# denoted by[]
l=[10,20,30,"hello",10.5,120]
print(l)
print(type(l))
print(l[0]) #indexed
l[1]="decode" # mutable
print(l)

[10, 20, 30, 'hello', 10.5, 120]
<class 'list'>
10
[10, 'decode', 30, 'hello', 10.5, 120]

In [1]:
# tuple - collection of elements 
# denoted by () with csv
# ordered , indexed , immutable and hetrogeneous 

# single value tuple
t=(10,)
print(t)
t=(10,20,"hello",10.5,"decode")
print(t)
print(type(t))
print(t[2]) # indexed
# t[2]="bhopal"
# print(t)

(10,)
(10, 20, 'hello', 10.5, 'decode')
<class 'tuple'>
hello

In [1]:
# dictionary - collection of elements 
# denoted by {k:v}
# key must be unique but values can be duplicate
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [3]:
d={"name":"abc","course":"da","fees":25000}
print(d)
print(type(d))
d["name"]="xyz"
print(d)

{'name': 'abc', 'course': 'da', 'fees': 25000}
<class 'dict'>
{'name': 'xyz', 'course': 'da', 'fees': 25000}

In [5]:
d={"name":["abc","def"],"course":["da","ds"],"fees":[25000,30000]}
print(d)
print(type(d))
d["name"][1]="decode"
print(d)

{'name': ['abc', 'def'], 'course': ['da', 'ds'], 'fees': [25000, 30000]}
<class 'dict'>
{'name': ['abc', 'decode'], 'course': ['da', 'ds'], 'fees': [25000, 30000]}

In [7]:
# set- collection of elements
# denoted by {} with csv
# unordered , unindexed, mutable and hetrogenous in nature
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [9]:
s={10,20,30,"hello",10.5,10,10,10}
print(s)
s.add(1000)
print(s)

{'hello', 10.5, 20, 10, 30}
{'hello', 10.5, 20, 1000, 10, 30}

In [5]:
# input () - run time --input
a=input()
b=input()
c=a+b
print(c)

 5
 5

55

In [3]:
# write a python program to check whether a user eligible to vote or not
age=int(input("enter your age"))

if age>=18:
    print(age,"you are eligible to vote")
else:
    print(age,"you are not eligible to vote")

enter your age 12

12 you are not eligible to vote

In [6]:
# write a python program to check whether a given number is divisible by 3 or not

num=int(input(" enter a number"))
if num%3==0:
    print("true")
else:
    print("false")

 enter a number 24

true

In [11]:
# write a python program to check whether a last digit of any number is divisible by 3 or not

num1= int(input("enter a number :"))
last_digit=num1%10

if last_digit%3==0:
    print(last_digit,"divisible")
else :
    print(last_digit,"not divisible")

enter a number : 247

7 not divisible

In [18]:
# implement a program that represent a simple atm ask user for account balance and amount he want's to withdrawl
# if withdrawl amount is less than equal to account balance then update final balance 
# if withdrawl amount is greather than then show insufficient balance
acc_bl= int(input("enter your amount"))
wd_bl=int(input("enter your amount"))

if wd_bl <= acc_bl:
    final_amount=acc_bl - wd_bl
    print(final_amount,"your amount is ")
else:
    print("insufficient balance")

enter your amount 1000
enter your amount 1200

insufficient balance

In [3]:
#write a python program to check number positive ,negative or zero

num=int(input("enter a number"))
if num>0:
    print(num,"positive")
elif num<0:
    print(num,"negative")
else:
    print(num,"zero")

enter a number 0

0 zero

In [6]:
# write a python program to check whether a given number is posititve negative or zero 
# if the number is posititve to check number is even or odd
num=int(input("enter a number"))
if num>0:
    
    if num%2==0:
        print(num,"even")
    else:
        print(num,"odd")
    
elif num<0:
    print(num,"negative")
else:
    print(num,"zero")

enter a number 22

22 even

In [11]:
# 

m1=int(input("enter a number"))
m2=int(input("enter a number"))
m3=int(input("enter a number"))
marks_obtained=m1+m2+m3
percentage=(marks_obtained/300)*100
print(marks_obtained,"marks obtained")
print(percentage,"percentage")

if percentage >=65:
    print("first division")
elif percentage >=50:
    print("second division")
elif percentage >=33:
    print("Third division")
else:
    print("Fail")

enter a number 70
enter a number 70
enter a number 70

210 marks obtained
70.0 percentage
first division

In [14]:
marks1=int(input("enter marks: "))
marks2=int(input("enter marks: "))
marks3=int(input("enter marks: "))
obtained_marks=marks1+marks2+marks3
per=(obtained_marks/300)*100
print("marks obtained: ",obtained_marks)
print("percentage: ",per,"%")
if per>=65:
    print("first division")
elif per>=50:
    print("second division")
elif per>=33:
    print("third division")
else:
    print("fail")

enter marks:  90
enter marks:  90
enter marks:  90

marks obtained:  270
percentage:  90.0 %
first division

In [22]:
# write a python program to find largest among three number
num1=int(input("enter a number"))
num2=int(input("enter a number"))
num3=int(input("enter a number"))
if num1 > num2 and num1>num3:
    largest=num1
elif num2 > num1 and num2 > num3:
    largest=num2
else:
    largest=num3
print(largest,"largest number")

enter a number -100
enter a number -50
enter a number -1

-1 largest number

In [28]:
# write a python program to check whether a triangle is euquilateral ,scalen , isoceles
# first check triangle is valid or invalid
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if (a+b>c ) and (b+c>a) and (a + c >b):
    print("valid triangle")
    if a == b == c:
        print("equilateral triangle") # all sides equal
    elif a==b or b==c or c==a:
        print(" isosceles triangle") # any two side equal
    else:
        print("scalene") # all sides different
else:
    print("invalid")

enter a number 45
enter a number 78
enter a number 85

valid triangle
scalene

In [3]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [5]:
for i in range(10,-4,-2):
    print(i)

10
8
6
4
2
0
-2

In [13]:
for i in range(10,-3,-2):
    print(i,end=" ")

10 8 6 4 2 0 -2

In [17]:
# wap to print first n natural number?(n- user input)
n=int(input("enter any number: "))
for i in range(1,n+1):
    print(i,end=" ")

enter any number:  10

1 2 3 4 5 6 7 8 9 10

In [20]:
# wap to print first n even number?n- user input
n=int(input("enter any number: "))
for i in range(2,(2*n)+1,2):
    print(i,end=" ")

enter any number:  10

2 4 6 8 10 12 14 16 18 20

In [21]:
#wap to print first n odd number> n- user input
n=int(input("enter any number: "))
for i in range(1,2*n,2):
    print(i,end=" ")

enter any number:  10

1 3 5 7 9 11 13 15 17 19

In [30]:
# wap to print first n even and n odd number?
n=int(input("enter any number: "))
for i in range(1,(2*n)+1,1):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

enter any number:  5

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [10]:
# leap year or not
n=int(input("enter a year"))
if (n%4==0 and n%100!=0) or n%400==0:
    print("leap year")
else:
    print("not a leap year")

enter a year 2001

not a leap year

In [2]:
# write a python program to print sum of n natural number


n=int(input("enter any number"))
sum_natural=0
for i in range  (1,n+1,1):
    sum_natural+=i
    
print(sum_natural)

enter any number 10

55

In [43]:
# write a python program to print sum of first n even and odd number

n = int(input("enter a number"))
sum_even=0
sum_odd=0
for i in range(1,(2*n)+1,1):
    if i%2==0:
        sum_even=sum_even+i
    else:
        sum_odd+=i
print("sum of even number : ",sum_even)
print("sum of odd number :",sum_odd)

enter a number 5

sum of even number :  30
sum of odd number : 25

In [24]:
# write a python program to print factorial number
n = int(input("enter a number"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial is :",fact)

enter a number 5

factorial is : 120

In [78]:
# WAP PROGRAM TO PRINT A COUNT OF EVEN AND ODD NUMBER BETWEEN 1000 AND 2000 BOTH ARE INCLUSIVE

even_count=0
odd_count=0
for n in range(1000,2001):
    if n%2==0:
        even_count+=1
    else:
        odd_count+=1
print("count of even :",even_count)
print("count of odd :",odd_count)

count of even : 501
count of odd : 500

In [54]:
# WRITE A PYTHON PROGRAM TO PRINT SUM OF FIRST N WHOLE NUMBER

n=int(input("enter a number")
count_num=0
for n in range(0,n+1):
    count_num=count_num+i
print(count_num)

enter a number 10

55

In [9]:
n=int(input("enter a number"))
x=0
y=1
z=0
while z<=n:
    
    print(z,end=" ")
    x=y
    y=z
    z=x+y

enter a number 5

0 1 1 2 3 5

In [13]:
n=int(input("enter a number"))
a=0
b=1
for i in range(n+1):
    
    print(a,end=" ")
    a,b=b,a+b

enter a number 5

0 1 1 2 3 5

Total Even Numbers : 501
Total Odd Numbers  : 500

In [1]:
print(3>2 and not 1>3)

True

In [2]:
a= [1,2,3]
b=a b[0]=5
print(a)

[5, 2, 3]

In [3]:
a=5
b=a
b=6
print(a)
print(b)

5
6

In [9]:
a=[1,2,3]
b=[1,2,3]
b=a
b[0]=5
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [4]:
# simple interest code

p=int(input("enter a number"))
r=int(input("enter a number"))
t=int(input("enter a number"))
s_i=(p*r*t)/100
print(s_i)

enter a number 50000
enter a number 2
enter a number 2

2000.0

In [14]:
# fibonacci series
a=0
b=1
num=int(input(" enter a number"))
print(a,b,end=" ")
for i in range(2,num):
    
    c=a+b
    a=b
    b=c
    
    print(c,end=" ")

 enter a number 5

0 1 1 2 3

In [13]:
# 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181
a=0
b=1
num=int(input(" enter a number"))

for i in range(2,num):
    
    c=a+b
    a=b
    b=c
    
print(c,end=" ")

 enter a number 5

3